---
import Layout from "@/layouts/Layout.astro";
---
<Layout title="Contact">
  <main>
    <p>email me at fkjfasd@fd.com!</p>

    or, you can use the form below:
    <form action="" method="post">
      <fieldset>
        <legend>contact form</legend>
        <label for="name">name</label>
        <input type="text" name="name" id="name" />

        <label for="email">email</label>
        <input type="email" name="email" id="email" />

        <label for="message">message</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </fieldset>
      <button type="submit">send!</button>
    </form>
  </main>
</Layout>