---
import type { MarkdownInstance } from "astro";
import ThemeSwitch from "./ThemeSwitch.astro";
interface Frontmatter {
  title: string;
  order: number;
}

const pages = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("/src/pages/**/*.md", { eager: true }));
---
<nav id="site-nav">
  <ul>
    <li><a href="/">Home</a></li>
    {pages.sort((a, b) => a.frontmatter.order - b.frontmatter.order).map(page => (
      <li><a href={page.url}>{page.frontmatter.title}</a></li>
    ))}
  </ul>
  <ThemeSwitch />
</nav>