---
import { getCollection } from "astro:content";
import slugify from "@/utils/slugify";
import categories from "@/metadata/categories";
import Layout from "@/layouts/Layout.astro";
import ArchiveItem from "~/ArchiveItem.astro";
import Table from "~/Table.astro";

const archives = await getCollection("archive");
---
<Layout title="Archive" class="archive">
  <h1 class="title">Archives</h1>

  <section id="archive">
    <Table />
  </section>
</Layout>

<style>
  .archive {
    flex-flow: column wrap;
  }

  h1, h2 { font-variant: small-caps; }
  h2 { font-size: var(--step-3); }
  h3 { font-size: var(--step-2); }
</style>