---
import Layout from "@/layouts/Layout.astro";
---
<Layout title="Contact">
  <slot />

  or, you can use the form below:
  <form action="" method="post">
    <fieldset>
      <legend>Contact Form</legend>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />

      <label for="email">Email</label>
      <input type="email" name="email" id="email" />

      <label for="message">Message</label>
      <textarea name="message" id="message" rows="4"></textarea>

      <button class="button primary" type="submit">send!</button>
    </fieldset>
  </form>
</Layout>

<style>
  form {
    display: grid;
    grid-auto-flow: row;

    fieldset {
      display: grid;
      grid-auto-flow: row;
      padding: var(--space-xs);
      gap: var(--space-3xs);

      legend {
        color: color-mix(in oklab, var(--text) 80%, var(--background) 20%);
      }

      input {
        min-width: 35ch;
        margin-bottom: var(--space-xs);
      }

      button {
        margin-top: var(--space-xs);
      }
    }
  }
</style>