---
import Navbar from '~/Navbar.astro';
import Footer from "~/Footer.astro";
import "@/assets/styles/base.css";

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Elsewhere XIV{title && `: ${title}`}</title>
	</head>
	<body>
		<Navbar />

		<main class:list={(Astro.url.pathname == "/archive" ? "wrapper": "")}>
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style is:global>
	::selection {
		background-color: var(--text);
		color: var(--background);
	}

	html,
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		font-family: var(--body-font);
		color: var(--text);
		background: var(--background);
	}

	main {
		align-self: center;
		max-width: min(80ch, 100%);
	}

	h1, h2, h3, h4, h5 { font-family: var(--heading-font); }
	h1, h2, h3 { color: var(--primary); }

	a {
		color: var(--accent);

		&:visited { color: var(--secondary); }
		&:hover { color: var(--text); }
	}

	.button {
		border: none;
		border-radius: 0.25rem;
		padding: 0.5rem 0.75rem;
		cursor: pointer;
		
		&.primary {
			background-color: var(--secondary);
			color: light-dark(white, black);

			&:hover {
				background-color: color-mix(in oklab, var(--secondary) 85%, var(--background) 15%);
			}
		}

		&.secondary {
			background-color: var(--background);
			color: var(--text);
			border: 1px solid var(--secondary);

			&:hover {
				background-color: color-mix(in oklab, var(--background) 95%, var(--text) 5%);
			}
		}
	}
</style>
