---
import Navbar from '~/Navbar.astro';
import Footer from "~/Footer.astro";
import "@/assets/styles/base.css";

const { title, class: className, ...rest } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Elsewhere XIV{title && `: ${title}`}</title>
	</head>
	<body>
		<Navbar />

		<main class={className} {...rest}>
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style is:global>
	::selection {
		background-color: var(--text);
		color: var(--background);
	}

	html,
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		font-family: var(--body-font);
		color: var(--text);
		background: var(--background);
	}

	main {
		align-self: center;
		max-width: min(80ch, 100%);
		display: flex;
	}

	h1, h2, h3, h4, h5 { font-family: var(--heading-font); }
	h1, h2, h3 { color: var(--primary); }

	a {
		color: var(--accent);

		&:hover {
			color: var(--text);
			text-decoration: none;
		}
	}

	.button {
		border: none;
		border-radius: 0.25rem;
		padding: 0.5rem 0.75rem;
		cursor: pointer;
		
		&.primary {
			background-color: var(--primary);
			color: var(--background);

			&:hover {
				background-color: color-mix(in oklab, var(--primary) 85%, var(--background) 15%);
			}
		}

		&.secondary {
			background-color: var(--background);
			color: var(--text);
			border: .125rem solid var(--secondary);

			&:hover {
				background-color: color-mix(in oklab, var(--background) 95%, var(--text) 5%);
			}
		}
	}

	input, textarea, fieldset { border: 0.125rem solid var(--decorative); }
	input, textarea {
		background-color: light-dark(color-mix(in oklab, var(--background) 50%, white), color-mix(in oklab, var(--background) 80%, black));
		padding: var(--space-3xs);
	}

	legend {
		padding: 0 var(--space-3xs);
		margin-left: var(--space-3xs);
	}
</style>
